@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
body {
  background-color: var(--bg);
  color: var(--text);
}

body.light {
  --bg: #f1e3cb;
  --bg-darker: #581c0c;
  --text: #581c0c;
  --headers: #ca5116;
  --hyper: #ca5116;
  --tag: #ca5116;
  --tag-text: #fff;
  --slider: #ffcf0d;
}

body.dark {
  --bg: #202040;
  --bg-darker: #202060;
  --text: rgb(182, 192, 221);
  --headers: #ff6363;
  --hyper: #ff6363;
  --tag: #ff6363;
  --tag-text: #fff;
  --slider: #202040;
  --moon: #f4e6ad;
}

.list {
  display: flex;
  justify-content: flex-end;
}

[data-reach-listbox-button] {
  width: 100px;
  border: 4px solid var(--hyper) !important;
}

[data-reach-listbox-popover] {
  border: 4px solid var(--hyper);
  border-top: 0px;
}

[data-reach-listbox-popover] {
  background-color: var(--bg) !important;
  border: 4px solid var(--hyper) !important;
  border-top: 0px solid;
  outline: none;
}

[data-reach-listbox-popover] > ul > li:hover {
  background-color: var(--bg-darker) !important;
  cursor: pointer;
}

[data-reach-listbox-arrow] {
  font-size: 1.1em !important;
  margin-left: 0.1em !important;
}
