@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
body {
  background-color: var(--bg);
  color: var(--text);
}

body.light {
  --bg: #f7f1ea;
  --bg-darker: #132f63;
  --text: #132f63;
  --headers: #132f63;
  --hyper: #132f63;
  --tag: #fabb5a;
  --tag-text: #000000bf;
  --slider: #ffcf0d;
  --code-text: black;
  --button-hover-color: var(--bg);
  --button-disabled: #132f6375;
  --text-disabled: #132f637d;
}

body.dark {
  --bg: #202040;
  --bg-darker: #202060;
  --text: rgb(182, 192, 221);
  --headers: #ff6363;
  --hyper: #ff6363;
  --tag: #ff6363;
  --tag-text: #000;
  --slider: #202040;
  --moon: #f4e6ad;
  --code-text: white;
  --button-hover-color: #000000;
  --button-disabled: #ff636352;
  --text-disabled: #b6c0dd8c;
}

code {
  background-color: var(--bg) !important;
  color: var(--code-text) !important;
  font-weight: bold;
}

.list {
  display: flex;
  justify-content: flex-end;
}

[data-reach-listbox-button] {
  width: 120px;
  border: 4px solid var(--hyper) !important;
}

[data-reach-listbox-popover] {
  border: 4px solid var(--hyper);
  border-top: 0px;
}

[data-reach-listbox-popover] {
  background-color: var(--bg) !important;
  border: 4px solid var(--hyper) !important;
  border-top: 0px solid;
  outline: none;
}

[data-reach-listbox-popover] > ul > li:hover {
  background-color: var(--bg-darker) !important;
  cursor: pointer;
}

[data-reach-listbox-arrow] {
  font-size: 1.1em !important;
  margin-left: 0.1em !important;
}
